input {
    margin-left: 20px;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 2px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }

.card {
    background: rgb(249, 244, 244);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
.search {
    margin: 30px auto 10px 20px;
    font-size: 20px;
    font-weight: 400;
    
}